/* ===========================
   WAHAT EL REEF
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Cairo',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#eef7eb;
    color:#222;
    overflow-x:hidden;
}

/* الهيدر */

.logo img{
    height:80px;
    width:80px;
    border-radius:50%;
    object-fit:cover;
    transition:.3s;
}

.logo img:hover{
    transform:scale(1.08);
}

nav ul{
    display:flex;
    gap:35px;
    align-items:center;
    list-style:none;
}

nav ul li a{
    color:#ffffff;
    font-size:21px;
    font-weight:900;
    text-decoration:none;
    text-shadow:3px 3px 10px rgba(0,0,0,.9);
    transition:.35s;
}

nav ul li a:hover{
    color:#3dcc5d;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;

    background:rgba(0,0,0,.40);
    backdrop-filter:blur(12px);

    box-shadow:0 8px 25px rgba(0,0,0,.25);

    z-index:9999;
    transition:.45s ease;
}

header.scrolled{
    background:rgba(18,18,18,.82);
    backdrop-filter:blur(18px);
    box-shadow:0 8px 25px rgba(0,0,0,.35);
}

/* Hero */

.hero .btn{

    transition:.35s;

}

.hero .btn:hover{

    transform:translateY(-4px);

    box-shadow:0 15px 30px rgba(0,0,0,.35);

}
.hero{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}
.hero-bg{
    width:100%;
    height:100%;
    object-fit:cover;
    animation:zoomHero 15s linear infinite alternate;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
}

.hero-content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,8%);
    text-align:center;
    color:#fff;
    z-index:5;
    width:90%;
}
.hero-content h1{
    color:#fff;
    font-weight:900;
    text-shadow:0 3px 15px rgba(0,0,0,.9), 0 0 25px rgba(255,255,255,.15);
}

   .hero-content p{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
    font-size:38px;
    font-weight:700;
    color:#ffffff;
    text-shadow:0 3px 12px rgba(0,0,0,.8);
}

.hero-content p::before,
.hero-content p::after{
    content:"🌿";
    font-size:30px;
    color:#8cc63f;
}

.hero-content p::before{
    border-radius:10px;
    box-shadow:-8px -5px 0 -5px #8cc63f,
               -18px 5px 0 -5px #8cc63f;
}

.hero-content p::after{
    border-radius:10px;
    box-shadow:8px -5px 0 -5px #8cc63f,
               18px 5px 0 -5px #8cc63f;
}
.btn{
    display:inline-block;
    background:#2E7D32;
    color:#fff;
    padding:18px 42px;
    font-size:20px;
    font-weight:700;
    border-radius:40px;
    text-decoration:none;
    transition:.35s;
}

.btn:hover{
    background:#1B5E20;
    transform:translateY(-4px);
    box-shadow:0 15px 30px rgba(0,0,0,.35);
}

/* الأقسام */

.section{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    padding:100px 8%;
}

.section.reverse{
    flex-direction:row-reverse;
}

.section img{
    width:100%;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.2);
}

.image{
    flex:1;
}

.text{
    flex:1;
}

.text h2{
    color:#1B5E20;
    font-size:42px;
    margin-bottom:20px;
}

.text p{
    line-height:2;
    font-size:20px;
}

/*=========================
PHOTO SECTION
=========================*/

#photo{
    padding:100px 8%;
    background:#f8fff8;
}

.title{
    text-align:center;
    color:#1B5E20;
    font-size:45px;
    margin-bottom:50px;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

/* حركة الصور */
.gallery img{
    transition:.45s;
}

.gallery img:hover{
    transform:scale(1.05);
    box-shadow:0 15px 35px rgba(0,0,0,.35);
}


.card{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 15px 30px rgba(0,0,0,.15);
    transition:.4s;
}

.card:hover{
    transform:translateY(-12px);
}

.card img{
    width:100%;
    height:280px;
    object-fit:cover;
    transition:.5s;
}

.card:hover img{
    transform:scale(1.08);
}

.card h3{
    text-align:center;
    padding:20px;
    color:#2E7D32;
    font-size:24px;
}

/*=========================
FOOTER
=========================*/

footer{
    background:#14532d;
    color:#fff;
    text-align:center;
    padding:70px 20px;
}

.footer-logo{
    width:120px;
    margin-bottom:20px;
}

footer h2{
    font-size:40px;
    margin-bottom:10px;
}

footer p{
    margin:10px 0;
}

.copy{
    margin-top:25px;
    opacity:.8;
}

/*=========================
WHATSAPP BUTTON
=========================*/

.whatsapp{
    position:fixed;
    bottom:25px;
    left:25px;
    background:#25D366;
    color:#fff;
    text-decoration:none;
    padding:16px 25px;
    border-radius:50px;
    font-weight:bold;
    box-shadow:0 10px 25px rgba(0,0,0,.25);
    animation:float 2s infinite;
    z-index:9999;
}

.whatsapp-btn{
    display:flex;
    align-items:center;
    gap:12px;
}

.whatsapp-btn i{
    font-size:30px;
}
@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-8px);
    }

    100%{
        transform:translateY(0);
    }

}

@keyframes zoomHero{

    from{
        transform:scale(1);
    }

    to{
        transform:scale(1.12);
    }

}

/*=========================
RESPONSIVE
=========================*/

@media(max-width:991px){

header{

    padding:20px;
    flex-direction:column;
    height:auto;

}

nav ul{

    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    margin-top:15px;

}

.hero-content h1{

    font-size:42px;

}

.hero-content p{

    font-size:20px;

}

.section,
.section.reverse{

    flex-direction:column;

}

.text{

    text-align:center;

}

.text h2{

    font-size:34px;

}

.title{

    font-size:36px;

}

.card img{

    height:230px;

}

.footer-logo{

    width:90px;

}

}

.hidden{
    opacity:0;
    transform:translateY(80px);
    transition:1s;
}

.show{
    opacity:1;
    transform:translateY(0);
}

.social-icons{

display:flex;
justify-content:center;
align-items:center;
gap:25px;
margin:35px 0;

}

.social-icons a{

width:60px;
height:60px;
background:#fff;
color:#1B5E20;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:28px;
text-decoration:none;
transition:.4s;
box-shadow:0 10px 25px rgba(0,0,0,.20);

}

.social-icons a:hover{

background:#16a34a;
color:#fff;
transform:translateY(-8px) scale(1.12);

}
/* ===== Logo ===== */

.logo{
    width:72px;
    height:72px;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

.logo video{
    width:75px;
    height:75px;
    object-fit:cover;
    object-position:center;
    border-radius:50%;
    display:block;
}

.footer-logo{
    width:160px;
    height:160px;
    object-fit:cover;
    object-position:center;
    border-radius:50%;
    display:block;
    margin:0 auto 35px;
}
.logo video,
.footer-logo{
    filter:drop-shadow(0 0 12px rgba(72,185,72,.45));
}
.whatsapp{
    animation:whats 2s infinite;
}

@keyframes whats{
    0%,100%{transform:scale(1);}
    50%{transform:scale(1.1);}
}
.title{
    transition:.4s;
}

.title:hover{
    letter-spacing:2px;
    color:#5fbf47;
}
button,
.btn{
    transition:.35s;
}

button:hover,
.btn:hover{
    transform:translateY(-3px);
}
html{
    scroll-behavior:smooth;
}
header{

    transition:.45s ease;

}

header.scrolled{

    background:rgba(18,18,18,.82);

    backdrop-filter:blur(18px);

    box-shadow:0 8px 25px rgba(0,0,0,.35);

}